app-login {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  flex-basis: auto;
  align-self: auto;
  justify-content: center;
  align-items: center;

  .mat-card {
    width: 400px;
    .form {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    }
  }

  .mat-card .mat-divider-horizontal {
    position: relative;
  }

  .text-login {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }


}
